.service-card {
  height: 24rem;
  width: 20rem;
  background-color: grey;
  display: grid;
  grid-template-rows: 5fr 1fr;
  justify-items: center;
  align-items: center;
  position: relative;
  margin-bottom: 3rem;
  &--checkbox {
    // visibility: hidden;

    cursor: pointer;
    &::after {
      content: "";
      height: 20rem;
      width: 20rem;
      background-color: red;
      position: absolute;
      top: 0;
      left: 0;
    }
    &:checked {
      &::after {
        background-color: blue;
      }
    }
  }
}
